body {
    background: linear-gradient(to bottom, grey, black);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

html {
    height: 100%;
}

.logo {
    margin: auto;
    align-self: center;
    padding: 10px;
    text-align: center;
}

#logoimg {
    align-self: center;
    width: 50%;
    border-radius: 30px;
}

.dialog {
    margin: auto;
    width: 80%;
    max-width: 600px;
    border: 3px solid green;
    padding: 10px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
}

.terms-text {
    text-align: left;
    max-height: 400px;
    overflow-y: auto;
}

.dialog button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dialog button:hover {
    background-color: darkgreen;
}
